/**
 * This stylesheet is used to print reveal.js
 * presentations to PDF.
 */

.print-pdf {
	width: 100%;
	height: 100%;
	overflow: visible;

	.reveal-viewport {
		background-color: #000;
	}

	* {
		-webkit-print-color-adjust: exact;
	}

	body {
		margin: 0 auto !important;
		border: 0;
		padding: 0;
		float: none !important;
		overflow: visible;
	}

	/* Remove any elements not needed in print. */
	.nestedarrow,
	.reveal .controls,
	.reveal .progress,
	.reveal .playback,
	.reveal.overview,
	.fork-reveal,
	.share-reveal,
	.state-background {
		display: none !important;
	}

	.reveal pre code {
		overflow: hidden !important;
	}

	ul,
	ol,
	div,
	p {
		visibility: visible;
		position: static;
		width: auto;
		height: auto;
		display: block;
		overflow: visible;
	}

	.reveal {
		width: auto !important;
		height: auto !important;
		overflow: hidden !important;

		.slides {
			position: static;
			width: 100% !important;
			height: auto !important;
			zoom: 1 !important;

			left: auto;
			top: auto;
			margin: 0 !important;
			padding: 0 !important;

			overflow: visible;
			display: block;

			perspective: none;
			perspective-origin: 50% 50%;
		}

		.slides .pdf-page {
			position: relative;
			overflow: hidden;
			z-index: 1;
			page-break-after: always;
		}

		.slides section {
			visibility: visible !important;
			display: block !important;
			position: absolute !important;

			margin: 0 !important;
			padding: 0 !important;
			box-sizing: border-box !important;
			min-height: 1px;

			opacity: 1 !important;

			transform-style: flat !important;
			transform: none !important;
		}

		section.stack {
			position: relative !important;
			margin: 0 !important;
			padding: 0 !important;
			page-break-after: avoid !important;
			height: auto !important;
			min-height: auto !important;
		}

		img {
			box-shadow: none;
		}

		canvas {
			background-image: url("./resources/canvas_not_supported.jpg") !important;
			background-size: contain;
		}

		.roll {
			overflow: visible;
			line-height: 1em;
		}

		/* disable all tooltips */
		.tip {
			visibility: hidden;
		}

		.slide-background {
			display: block !important;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: auto !important;
			border: 1px solid #444;
		}

		.slide-background .slide-background-content {
			background-image: none !important;
		}

		/* Display slide speaker notes when 'showNotes' is enabled */
		&.show-notes {
			max-width: none;
			max-height: none;
		}
		.speaker-notes-pdf {
			display: block;
			width: 100%;
			height: auto;
			max-height: none;
			top: auto;
			right: auto;
			bottom: auto;
			left: auto;
			z-index: 100;
		}

		/* Layout option which makes notes appear on a separate page */
		.speaker-notes-pdf[data-layout="separate-page"] {
			position: relative;
			color: inherit;
			background-color: transparent;
			padding: 20px;
			page-break-after: always;
			border: 0;
		}

		/* Display slide numbers when 'slideNumber' is enabled */
		.slide-number-pdf {
			display: block;
			position: absolute;
			font-size: 32px;
		}

		h1,
		h2,
		h3,
		h4,
		blockquote {
			text-shadow: none !important;
			animation: none !important;
		}

		/* disable striped effect */
		.frame::after, .frame::before {
			background-image: none !important;
		}

		.frame {
			border-image: none;
		}
	}

	/* Do not display footer */
	footer {
		display: none !important;
	}
}
